.tile {
    width: 200px;
    height: 100px;
    background-color: lightseagreen;
    cursor: pointer;

    &-img {
        width: 100%;
        max-width: 100%;
        overflow: hidden;
        height: 100%;

        img {
            width: 100%;
        }

        &-name {
            position: relative;
            top: -69px;
            text-align: center;
            color: deepskyblue;
            font-weight: 900;
            font-size: larger;
        }
    }
}