<div class="filters">
    <mat-form-field>
        <mat-label>Select a name</mat-label>
        <mat-select [value]="dogService.Filters().name">
            <mat-option
                (click)="SetName('')">None</mat-option>
            <mat-option
                *ngFor="let name of AllDogNames"
                [value]="name"
                (click)="SetName(name)">
                {{ name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Select an energy level</mat-label>
        <mat-select [value]="dogService.Filters().energyLevel">
            <mat-option
                (click)="SetEnergyLevel(-1)">None</mat-option>
            <mat-option
            *ngFor="let energy of AllDogEnergyLevels"
            [value]="energy"
            (click)="SetEnergyLevel(energy)">
                {{ energy }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div>
    Filter selection : {{ dogService.Filters() | json }}
</div>
