<div class="filters">
    <mat-form-field>
        <mat-label>Select a name</mat-label>
        <mat-select [value]="DogName()">
            <mat-option
                (click)="DogName.set('')">None</mat-option>
            <mat-option
                *ngFor="let name of AllDogNames"
                [value]="name"
                (click)="DogName.set(name)">
                {{ name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Select an energy level</mat-label>
        <mat-select [value]="DogEnergyLevel()">
            <mat-option
                (click)="DogEnergyLevel.set(-1)">None</mat-option>
            <mat-option
                *ngFor="let energy of AllDogEnergyLevels"
                [value]="energy"
                (click)="DogEnergyLevel.set(energy)">
                {{ energy }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div>
    Filter selection : {{ Filters() | json }}
</div>
